extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Questionaire

  form(action='/account/form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right How Do You Feel Today
      .col-sm-6
        label.radio.col-sm-3
          input(type='radio', checked=user.profile.gender=='male', name='feel', value='happy', data-toggle='radio')
          span Happy
        label.radio.col-sm-3
          input(type='radio', checked=user.profile.gender=='female', name='feel', value='neutral', data-toggle='radio')
          span Neutral
        label.radio.col-sm-3
          input(type='radio', checked=user.profile.gender=='other', name='feel', value='sad', data-toggle='radio')
          span Sad
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='name') Value
      .col-md-7
        input#ex1(data-slider-id='ex1Slider' type='text' data-slider-min='0' data-slider-max='20' data-slider-step='1' data-slider-value='14')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right Gender
      .col-sm-6
        label.radio.col-sm-3
          input(type='radio', checked=user.profile.gender=='male', name='gender', value='male', data-toggle='radio')
          span Male
        label.radio.col-sm-3
          input(type='radio', checked=user.profile.gender=='female', name='gender', value='female', data-toggle='radio')
          span Female
        label.radio.col-sm-3
          input(type='radio', checked=user.profile.gender=='other', name='gender', value='other', data-toggle='radio')
          span Other
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='location') Location
      .col-md-7
        input.form-control(type='text', name='location', id='location', value=user.profile.location, autocomplete)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='website') Website
      .col-md-7
        input.form-control(type='text', name='website', id='website', value=user.profile.website, autocomplete='url')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right Gravatar
      .col-sm-4
        img(src=user.gravatar(), class='profile', width='100', height='100')
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn.btn-primary(type='submit')
          i.fas.fa-pencil-alt.fa-sm
          | Update Profile

  .pb-2.mt-2.mb-4.border-bottom
    h3 Change Password

  form(action='/account/password', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='password') New Password
      .col-md-7
        input.form-control(type='password', name='password', id='password', autocomplete='new-password')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='confirmPassword') Confirm Password
      .col-md-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', autocomplete='new-password')
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn-primary(type='submit')
          i.fas.fa-lock.fa-sm
          | Change Password
    script.
        var slider = new Slider('#ex1', {
            formatter: function(value) {
                return 'Current value: ' + value;
            }
        });
